/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
}

body {
    background-color: #f6f6f6;
    height: 100%;
}

/* blocks */

.youtube {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fullscreen {
    margin-top: -1px;
    background: url('../images/waves.svg') no-repeat, url('../images/waves_bottom.svg') no-repeat;
    background-size: 112%, 109%;
    background-position: bottom, top;
}

.instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardholder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

/* elements */

.card {
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 400px;
    margin: 1rem;
    border-radius: 0.5rem;
}

.title p {
    padding: 1em;
}

.description {
    display: flex;
    flex-direction: column;
    height: 100%;

    background-color: #f8f8f8dc;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.description p {
    font-size: 18px;
    height: 100%;
    margin: 1rem;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.2rem;

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    background-color: #df2d00;
}

.price p {
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.title p {
    font-weight: 400;
    font-size: 18px;
}

.embeded {
    width: 100%;
    height: auto;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #c70000;
    
}

.plug {
    height: 3.5rem;
    background-color: #c70000;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-item:hover .nav-link {
    background-color: #ffffff23;
}

.nav-item:first-child {
    margin-left: auto;
}

.nav-link {
    color: #ececec;
    transition: 200ms;
    padding: 1rem;
}

.nav-item:hover .nav-link {
    color: #ffffff;
}

/* modificators */

.bg-white {
    background-color: rgb(233, 233, 233);
}

.bg-black {
    background-color: rgb(23, 23, 23);
}

.bg-instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888',GradientType=1);
}

.font-white {
    color: white;
}

.large {
    font-size: 2.5rem;
    padding: 1rem;
}

.bg-violet {
    background-color: #bc1888;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fit {
    margin: 0;
    height: auto;
}

.tall {
    height: 540px;
}

.short {
    height: 350px;
}

.limiter {
    max-width: 675px;
    margin: 0 auto;
}

@media only screen and (max-width: 375px) {
    .price p {
        font-size: 20px;
    }

    .fullscreen {
        justify-content: center;
    }
}

@media only screen and (max-width: 768px) {
    .limiter {
        max-width: none;
    }

    .cardholder {
        justify-content: center;
    }

    .fullscreen {
        background-size: 230%, 260%;
    }
}

@media only screen and (min-width: 1224px) {
    .fullscreen {
        background: url('../images/waves.svg') no-repeat, url('../images/waves_bottom.svg') no-repeat;
        background-size: contain, contain;
        background-position: bottom, top;
    }

    .bg-instagram {
        background: #f09433;
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888',GradientType=1);
    }
}
